@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@200;300;400;500;600;700;800&display=swap");
body {
  font-family: "Montserrat", sans-serif;
}

.title {
  font-weight: 400;
  color: #555;
  margin: 10px 0 20px;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}

/*NAVBAR */
.navbar.nav {
  background: #0797f0;
  z-index: 999 !important;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.45);
}

.navbar-brand {
  font-family: Monospace;
  font-weight: 900 !important;
  font-size: 1.4rem;
  letter-spacing: 1.5px;
}

.navbar-nav .nav-item {
  text-transform: uppercase;
  font-size: 0.8rem;
  font-weight: 900 !important;
}
.navbar-nav .nav-item.active {
  color: #475cfd;
  font-weight: bold;
}
.navbar-nav .nav-item.hover {
  color: #475cfd;
}
.navbar-nav .nav-item .btn {
  font-weight: bolder;
  background: #0797f0;
  border-radius: 50px;
  text-shadow: none;
  font-size: 0.75rem;
  width: 7rem;
  border: 1px solid #ffffff;
}
.navbar-nav .nav-item .btn:hover {
  height: 3em;
  border-width: 1.7px;
}
.navbar-nav .nav-item .btn.active {
  height: 3em;
  border-width: 1.9px;
}
@media (max-width: 720px) {
  .navbar-nav .nav-item .btn {
    margin: 1rem auto;
    width: 100%;
  }
}

/*CAROUSEL */
.carousel.cap {
  top: -16.7em;
}
.carousel.cap.carousel-fade .carousel-item {
  opacity: 1;
  transition-duration: 4.5s;
  transition-property: opacity;
}
.carousel.cap img {
  height: 480px;
  transform: scaleX(1.5);
}
.carousel.cap .carousel-caption {
  top: 18em !important;
}
.carousel.cap .carousel-item {
  z-index: 2;
}
.carousel.cap .carousel-item::after {
  content: "";
  display: block;
  position: absolute;
  height: 80%;
  width: 100%;
  bottom: 0;
  background-image: linear-gradient(to top, black, rgba(0, 0, 0, 0));
}
.carousel.cap .carousel-caption {
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
.carousel.cap .carousel-caption h5 {
  position: relative;
  font-size: 2.5rem;
  font-weight: 600;
  margin-top: -40px;
  z-index: 999;
}
.carousel.cap .carousel-caption h5 span {
  font-weight: 900;
}
.carousel.cap .carousel-caption p {
  position: relative;
  z-index: 999;
}

/*ABOUT */
#profile {
  border-radius: 25px;
  position: relative;
  top: -120px;
  width: 95vw;
  color: #999;
  margin: auto;
  padding-top: 50px !important;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
}
#profile .about {
  text-align: justify;
}
#profile .progress {
  height: 5px;
}
#profile .col-md-5 h6 {
  font-size: 0.8rem;
}
#profile .col-md-5 h6 i {
  font-size: 1.2rem;
}

/*EDUCATION */
#education {
  text-align: center;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
}
#education .parralax {
  background: url(../img/carousel/photo-1517694712202-14dd9538aa97.jpg);
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 100%;
  overflow: hidden;
  padding: 0 0 100px;
}
#education .parralax .cont {
  padding: 13em 0 14em;
  background-color: #0008;
  margin-top: -15em;
}
@media (max-width: 720px) {
  #education .parralax .cont {
    margin-top: -6em;
  }
}
#education .parralax .edu-wave {
  margin-top: -15em;
}
@media (max-width: 720px) {
  #education .parralax .edu-wave {
    margin-bottom: -10em;
  }
}
#education img {
  margin: 30px 0;
  width: 200px;
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5)) brightness(1.4);
}
#education .uin {
  margin: 23px 0;
  width: 228px;
  filter: drop-shadow(-5px 5px 3px rgba(0, 0, 0, 0.5)) brightness(1.1);
}
#education .title {
  color: #fff;
  text-shadow: 2px 2px 3px rgba(0, 0, 0, 0.3);
}
#education h5 {
  color: #fff;
  text-transform: uppercase;
}
#education span {
  position: relative;
  display: inline-block;
  color: #ddd;
}

/*PROJECTS */
#projects {
  background-color: #e8e8e8;
  margin-top: -7rem;
  padding-top: 20px;
}
#projects .carousel-indicators li.active {
  background: #0797f0 !important;
}
#projects .carousel-control-prev, #projects .carousel-control-next {
  width: 30px;
  height: 30px;
  border-radius: 30px;
  line-height: 30px;
  cursor: pointer;
  margin: 300px 30px 0;
  opacity: 1;
  background: white;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
@media (max-width: 720px) {
  #projects .carousel-control-prev, #projects .carousel-control-next {
    margin: 360px 10px 0;
  }
}
#projects .carousel-control-next .fas {
  transform: translateX(1.5px);
}
#projects .carousel-control-prev .fas {
  transform: translateX(-1.5px);
}
#projects .carousel-control-next .fas, #projects .carousel-control-prev .fas {
  color: #0797f0;
  font-size: 1.3rem;
}
#projects .project {
  border-radius: 25px;
  width: 15rem;
  height: 18rem;
  overflow: hidden;
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5);
  margin: 50px auto 100px;
}
#projects .project .card-img-top {
  height: 6.2rem;
  margin-top: 20px;
  transform: scaleY(1.4);
}
#projects .project .card-body {
  z-index: 2;
  bottom: 0;
  position: absolute;
  text-align: justify;
}
#projects .project .card-title {
  text-align: left;
}
#projects .project .card-body .btn {
  border-radius: 30px;
  width: 90px;
  margin-top: 10px;
  background: #0797f0;
}

/*CERTIFICATES*/
#certificates {
  margin-top: -1rem;
  background: white;
  z-index: 1;
}
#certificates .contain {
  display: none;
}

.hi-slide {
  display: block;
  position: relative;
  width: 80%;
  margin: 70px auto;
  height: 280px;
}
.hi-slide ul {
  transform: translateX(0.65em);
}
.hi-slide ul li {
  transform: translateX(8vw);
}
.hi-slide .hi-next, .hi-slide .hi-prev {
  position: absolute;
  top: 128px;
  width: 30px;
  height: 30px;
  margin-top: -20px;
  border-radius: 50px;
  line-height: 30px;
  text-align: center;
  background-color: #fff;
  color: black;
  transition: all 0.6s;
  font-size: 20px;
  font-weight: bold;
  cursor: pointer;
  box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.5);
}
.hi-slide .hi-prev {
  left: -65px;
  color: #0797f0;
}
.hi-slide .hi-prev .fas {
  transform: translateX(-1.5px);
}
.hi-slide .hi-next {
  right: -65px;
  color: #0797f0;
}
.hi-slide .hi-next .fas {
  transform: translateX(1.5px);
}
.hi-slide > ul {
  list-style: none;
  position: relative;
  width: 100%;
  margin: 0;
  padding: 0;
  left: -11px;
}
.hi-slide > ul > li {
  overflow: hidden;
  position: absolute;
  z-index: 0;
  margin: 0;
  padding: 0;
  border-radius: 8px;
  border: double 4.5px #0797f0;
  background: #e8e8e8;
  cursor: pointer;
  box-shadow: 0 0 10px 5px rgba(7, 97, 240, 0.3);
}
.hi-slide > ul > li > img {
  width: 100%;
  height: 100%;
  background-position: center;
}

@media (max-width: 990px) {
  .contain {
    display: grid !important;
    grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    gap: 30px 25px;
  }
  .contain .card {
    height: 80px;
    background-position: center;
    background-size: 110%;
    border: none;
    cursor: pointer;
  }
  .contain .card::after {
    content: "";
    width: 107%;
    height: 114%;
    position: absolute;
    transform: translate(-3.2%, -6%);
    display: block;
    border: double 3px #0797f0;
    box-shadow: 0 0 2px 2px rgba(7, 97, 240, 0.3);
    border-radius: 8px;
  }
  .contain .card.item-1 {
    background-image: url(../img/certificates/1.png);
  }
  .contain .card.item-2 {
    background-image: url(../img/certificates/2.png);
  }
  .contain .card.item-3 {
    background-image: url(../img/certificates/3.png);
  }
  .contain .card.item-4 {
    background-image: url(../img/certificates/4.png);
  }
  .contain .card.item-5 {
    background-image: url(../img/certificates/5.png);
  }
  .contain .card.item-6 {
    background-image: url(../img/certificates/6.png);
  }
  .contain .card.item-7 {
    background-image: url(../img/certificates/7.png);
  }

  .preview {
    width: 100%;
    height: 100vh;
    top: 0;
    right: 0;
    position: fixed;
    z-index: 99999;
    background: rgba(0, 0, 0, 0.7);
    transform: translateY(-100%);
    transition: all 0.7s linear;
  }
  .preview.view {
    transform: translateY(0%);
  }
  .preview .card {
    height: 200px;
    width: 90%;
    background: white;
    margin: 50px auto 0;
    border-radius: 8px;
    background-size: 100%;
    background-position: center;
    transition: all 1s;
  }
}
@media (max-width: 990px) and (min-width: 720px) {
  .preview .card {
    width: 50%;
  }
}
@media (max-width: 990px) {
  .preview h3, .preview .year, .preview .prev, .preview .next {
    color: white;
    font-size: 1.4rem;
    bottom: -5%;
    margin: auto;
    padding: 0 20px;
    text-align: center;
    position: relative;
    text-transform: capitalize;
    font-weight: bold;
  }
}
@media (max-width: 990px) {
  .preview h3, .preview .year {
    transition: transform 0.3s, opacity 0.5s;
    opacity: 1;
    transform: translateX(0);
  }
  .preview h3.wipe, .preview .year.wipe {
    transform: translateX(-100%);
  }
  .preview h3.emerge, .preview .year.emerge {
    opacity: 0;
  }
}
@media (max-width: 990px) {
  .preview .year {
    font-size: 1.2rem;
    bottom: -7%;
  }
}
@media (max-width: 990px) {
  .preview .prev, .preview .next {
    position: absolute;
    bottom: 120px;
    cursor: pointer;
  }
}
@media (max-width: 990px) {
  .preview .close {
    display: inline-block;
    position: absolute;
    bottom: 40px;
    font-size: 1.5rem;
    cursor: pointer;
    color: white;
    opacity: 1;
    left: 50%;
    transform: translateX(-50%);
  }
  .preview .close .fa {
    color: white;
  }
}
@media (max-width: 990px) {
  .preview .prev {
    left: 20px;
  }
}
@media (max-width: 990px) {
  .preview .next {
    right: 20px;
  }
}
/*SOCIALS */
#sosmed {
  background: #333;
  margin-top: -1rem;
  padding-bottom: 50px;
  z-index: 2;
}
#sosmed .card {
  height: 150px;
  border-radius: 25px;
  margin-bottom: 20px;
  text-align: center;
  background: #fff !important;
  transform: scale(0.9);
  transition: transform 0.5s, border-radius 0.5s;
}
#sosmed .card .fab {
  font-size: 3rem;
  line-height: 150px;
  color: #0A3D62;
  transition: font-size 0.5s;
}
#sosmed .link {
  text-decoration: none;
}
#sosmed .link:hover .card {
  transform: scale(1.1);
  border-radius: 50px;
}
#sosmed .link:hover .card .fab {
  font-size: 4.5rem;
}
#sosmed .link i::before {
  display: "";
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  position: absolute;
  text-align: center;
  background-size: 200% 200%;
  background-position: 75% 75%;
  line-height: 150px;
  transition: background 0.3s linear;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
#sosmed .link:hover i::before {
  background-position: 0% 0%;
}
#sosmed .fa-facebook-f::before {
  background-image: linear-gradient(135deg, #0061DE 30%, #333 50%);
}
#sosmed .fa-instagram::before {
  background-image: linear-gradient(135deg, #C32AA3 30%, #333 50%);
}
#sosmed .fa-twitter::before {
  background-image: linear-gradient(135deg, #1DA1F2 30%, #333 50%);
}
#sosmed .fa-youtube::before {
  background-image: linear-gradient(135deg, #FF0404 30%, #333 50%);
}
#sosmed .fa-whatsapp::before {
  background-image: linear-gradient(135deg, #0061DE 30%, #333 50%);
}
#sosmed .fa-telegram-plane::before {
  background-image: linear-gradient(135deg, #00c3f4 30%, #333 50%);
}
#sosmed .fa-linkedin-in::before {
  background-image: linear-gradient(135deg, #007BB5 30%, #333 50%);
}
#sosmed .fa-github::before {
  background-image: linear-gradient(135deg, #222 30%, #333 50%);
}
#sosmed .fa-blogger-b::before {
  background-image: linear-gradient(135deg, #f57c00 30%, #333 50%);
}

/*HOBBIES */
#hobbies {
  background: #e8e8e8;
  padding-top: 20px;
  margin-top: -4rem;
}
#hobbies .card {
  height: 180px;
  border-radius: 25px;
  padding: 20px 18px;
  color: white;
  position: relative;
  margin: 20px 5px;
  background: #333;
}
#hobbies .card .card-title {
  font-size: 1.1rem;
  font-weight: 900;
}
#hobbies .card .card-text {
  font-size: 0.6rem;
  font-weight: 400;
  width: 100%;
  height: 100%;
  margin-bottom: 10px;
  text-align: center;
}
#hobbies .card.code {
  height: 193px;
}
#hobbies .card > i {
  margin: 3px auto 20px;
  font-size: 3rem;
  line-height: 58px;
  color: #0797f0;
}
#hobbies .lang h3 {
  margin-top: 90px;
  margin-bottom: 80px !important;
}
#hobbies .bg {
  width: 100%;
  margin: 0 0 30px;
  display: flex;
  align-items: center;
  justify-content: center;
}
#hobbies .bg img {
  filter: color(20deg);
  width: 100%;
}
#hobbies .bg h2 {
  font-weight: bold;
  position: absolute;
  line-height: 40px;
  font-size: 1.3rem;
  color: #efefef;
  transform: rotate(-8deg);
}

/*CONTACT */
#contact {
  margin-top: -0.5rem;
  background-color: #e8e8e8;
}
#contact .card {
  border-radius: 25px;
}
#contact .info {
  background: #0797f0;
  color: white;
  text-align: center;
  margin-bottom: 32px !important;
}
#contact .location h3 i {
  font-size: 3rem;
  position: relative;
  top: -6px;
}
#contact .message {
  margin-top: 32px;
}
#contact .message .form-control {
  border-radius: 30px;
}
#contact .message .btn {
  background: #0797f0;
  border-radius: 30px;
  width: 90px;
}

body {
  font-family: "Montserrat", sans-serif;
}

#interests {
  margin-top: -1.5rem;
  background: white;
}
#interests .cont {
  display: grid;
  grid-template-areas: "a a b b c d" "e f f g h d" "i j j g k k" "i l l l k k";
  gap: 14px;
}
@media (max-width: 720px) {
  #interests .cont {
    grid-template-areas: "a b" "c d" "e f" "g h" "i j" "k l";
    padding: 0 10px;
    gap: 15px;
  }
}
#interests .cont .card {
  display: grid;
  background: transparent;
  align-items: center;
  min-height: 150px;
  justify-items: center;
  border: none;
  border-radius: 8px;
  box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.7);
  overflow: hidden;
}
#interests .cont .card::before {
  content: "";
  display: block;
  position: absolute;
  border-radius: 8px;
  width: 150%;
  height: 150%;
  background-position: center;
  background-size: cover;
  filter: grayscale(1);
  transform: scale(0.8);
  transition: all 0.8s ease-in;
}
#interests .cont .card.item-1::before {
  background-image: url(../img/interests/tech.jpg);
}
#interests .cont .card.item-2::before {
  background-image: url(../img/interests/phi.jpg);
}
#interests .cont .card.item-3::before {
  background-image: url(../img/interests/psy.jpg);
}
#interests .cont .card.item-4::before {
  background-image: url(../img/interests/anm.jpg);
}
#interests .cont .card.item-5::before {
  background-image: url(../img/interests/his.jpg);
}
#interests .cont .card.item-6::before {
  background-image: url(../img/interests/isl.jpg);
}
#interests .cont .card.item-7::before {
  background-image: url(../img/interests/cons.jpg);
}
#interests .cont .card.item-8::before {
  background-image: url(../img/interests/phy.jpg);
}
#interests .cont .card.item-9::before {
  background-image: url(../img/interests/mov.jpg);
}
#interests .cont .card.item-10::before {
  background-image: url(../img/interests/astro.jpg);
}
#interests .cont .card.item-11::before {
  background-image: url(../img/interests/prog.jpg);
}
#interests .cont .card.item-12::before {
  background-image: url(../img/interests/alq.jpg);
}
#interests .cont .card.item-3::before, #interests .cont .card.item-5::before {
  transform: scale(0.67);
}
#interests .cont .card:hover::before {
  transform: rotate(30deg) scale(1.3);
  filter: grayscale(0);
}
#interests .cont .card.item-12:hover::before {
  transform: rotate(30deg) scale(1.6);
}
#interests .cont .card:hover h5 {
  font-size: 0.6rem;
  opacity: 0.5;
  text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
  -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.5);
}
@media (max-width: 720px) {
  #interests .cont .card {
    height: 180px;
    min-width: 120px;
  }
  #interests .cont .card.item-11 h5 {
    font-size: 0.6rem;
  }
  #interests .cont .card.item-12::before {
    background-position: -140px 45px;
    transform: scale(1);
  }
  #interests .cont .card:hover h5 {
    padding-top: 100%;
    font-size: 0.6rem;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0);
    -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.5);
  }
}
#interests .cont .card.item-1 {
  grid-area: a;
}
#interests .cont .card.item-2 {
  grid-area: b;
}
#interests .cont .card.item-3 {
  grid-area: c;
}
#interests .cont .card.item-4 {
  grid-area: d;
}
#interests .cont .card.item-5 {
  grid-area: e;
}
#interests .cont .card.item-6 {
  grid-area: f;
}
#interests .cont .card.item-7 {
  grid-area: g;
}
#interests .cont .card.item-8 {
  grid-area: h;
}
#interests .cont .card.item-9 {
  grid-area: i;
}
#interests .cont .card.item-10 {
  grid-area: j;
}
#interests .cont .card.item-11 {
  grid-area: k;
}
#interests .cont .card.item-12 {
  grid-area: l;
}
#interests .cont .card h5 {
  font-size: 0.9rem;
  position: absolute;
  z-index: 2;
  text-align: center;
  text-transform: capitalize;
  font-weight: 900;
  color: white;
  line-height: 20px;
  letter-spacing: 4px;
  text-shadow: 0px 0px 5px black;
  -webkit-text-stroke: 0.8px rgba(0, 0, 0, 0.7);
  transition: all 0.8s;
  transform: translateY(0.45rem);
}
@media (max-width: 720px) {
  #interests .cont .card h5 {
    font-size: 0.7rem;
  }
}

/*FOOTER */
footer {
  margin-top: -1rem;
  background: #0797f0;
}
footer .container {
  padding: 5rem 0 4rem;
}

/*DESKTOP */
@media (min-width: 720px) {
  .navbar-brand {
    font-weight: 900 !important;
  }

  .navbar-nav .nav-item {
    text-transform: uppercase;
    margin-left: 30px;
    font-weight: 900 !important;
  }
  .navbar-nav .nav-item.shad {
    color: #fff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .navbar-brand.shad {
    color: #fff !important;
    text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.7);
  }

  .navbar-nav .nav-link:hover::after {
    content: "";
    display: block;
    border-bottom: 3px solid white;
    width: 100%;
    margin: auto;
    padding-bottom: 5px;
    margin-bottom: -8px;
  }

  .navbar-nav .nav-link.btn:hover::after {
    display: none;
  }

  .carousel.cap {
    height: 450px;
    top: -70px;
  }
  .carousel.cap img {
    height: auto;
    transform: none;
  }
  .carousel.cap .carousel-caption {
    top: 230px !important;
  }
  .carousel.cap .carousel-caption h5 {
    font-size: 3rem;
    font-weight: 200;
    margin-top: 0;
  }
  .carousel.cap .carousel-caption h5 span {
    font-weight: 500;
  }
  .carousel.cap .carousel-caption p {
    font-size: 1.1rem;
  }

  #profile {
    width: 80vw;
    top: -50px;
    margin-bottom: 50px;
  }

  #projects .project {
    width: 34rem;
    height: 34rem;
  }
  #projects .project .card-img-top {
    height: 16rem;
    transform: scaleY(1.2);
  }

  #contact .message {
    margin-top: 0px;
  }

  #hobbies .card {
    height: 120px;
  }
  #hobbies .card.code {
    height: 120px;
  }
  #hobbies .card .card-text {
    width: 75%;
    text-align: left;
  }
  #hobbies .card > i {
    position: absolute;
    right: 30px;
  }
  #hobbies .card.left > i {
    right: 435px;
  }
  #hobbies .card.left .fa-itunes-note {
    right: 448px;
  }
  #hobbies .card.left .card-title {
    text-align: right;
  }
  #hobbies .card.left .card-text {
    width: 100%;
    position: relative;
    text-align: right;
  }

  #hobbies .lang h3 {
    margin-top: 7px;
  }
}

/*# sourceMappingURL=style.css.map */
