@use '../variables' as var

/*NAVBAR

.navbar.nav
  background: var.$primary-color
  z-index: 999 !important
  box-shadow: 0px 5px 20px rgba(black, .45)

.navbar-brand
  font-family: Monospace
  font-weight: 900 !important
  font-size: 1.4rem
  letter-spacing: 1.5px

.navbar-nav .nav-item
  text-transform: uppercase
  font-size: .8rem
  font-weight: 900 !important

  &.active
    color: #475cfd
    font-weight: bold

  &.hover
    color: #475cfd

  .btn
    font-weight: bolder
    background: #0797f0
    border-radius: 50px
    text-shadow: none
    font-size: .75rem
    width: 7rem
    border: 1px solid #ffffff

    &:hover
      height: 3em
      border-width: 1.7px
    
    &.active
      height: 3em
      border-width: 1.9px
    
    @media (max-width: 720px)
      margin: 1rem auto
      width: 100%