@use '../variables' as var

/*PROJECTS

#projects
  background-color: var.$secondary-color
  margin-top: -30px
  padding-bottom: 50px

.carousel-indicators li.active
  background: var.$primary-color !important

.carousel-control-prev .fas, .carousel-control-next .fas
  color: var.$primary-color

#project
  border-radius: 25px
  width: 15rem
  height: 18rem
  overflow: hidden
  box-shadow: 0 3px 20px rgba(0, 0, 0, 0.5)
  margin: 50px auto 100px

  .card-img-top
    height: 6.2rem
    margin-top: 20px
    transform: scaleY(1.4)

  .card-body
    z-index: 2
    bottom: 0
    position: absolute
    text-align: justify

  .card-title
    text-align: left

  .card-body .btn
    border-radius: 30px
    width: 90px
    margin-top: 10px
    background: var.$primary-color