/*SOCIALS

#sosmed
  background: #0A3D62
  margin-top: -30px
  padding-bottom: 50px

  .card
    height: 150px
    border-radius: 25px
    margin-bottom: 20px
    text-align: center
    background: #fff !important
    transform: scale(0.9)
    transition: transform .5s, border-radius .5s

    .fab
      font-size: 3rem
      line-height: 150px
      color: #0A3D62
      transition: font-size .5s

  .link
    text-decoration: none

    &:hover .card
      transform: scale(1.1)
      border-radius: 50px

      .fab
        font-size: 4.5rem

    i::before
      display: ""
      height: 100%
      width: 100%
      top: 0
      left: 0
      position: absolute
      text-align: center
      background-size: 200% 200%
      background-position: 75% 75%
      line-height: 150px
      transition: background .3s linear
      -webkit-background-clip: text
      -webkit-text-fill-color: transparent

    &:hover i::before
      background-position: 0% 0%

  .fa-facebook-f::before
    background-image: linear-gradient(135deg, #0061DE 30%, #0a3d62 50%)

  .fa-youtube::before
    background-image: linear-gradient(135deg, #FF0404 30%, #0a3d62 50%)

  .fa-instagram::before
    background-image: linear-gradient(135deg, #C32AA3 30%, #0a3d62 50%)

  .fa-twitter::before
    background-image: linear-gradient(135deg, #1DA1F2 30%, #0a3d62 50%)

  .fa-linkedin-in::before
    background-image: linear-gradient(135deg, #007BB5 30%, #0a3d62 50%)

  .fa-github::before
    background-image: linear-gradient(135deg, #222 30%, #0a3d62 50%)

  .fa-telegram-plane::before
    background-image: linear-gradient(135deg, #00c3f4 30%, #0a3d62 50%)

  .fa-line::before
    background-image: linear-gradient(135deg, #28B43E 30%, #0a3d62 50%)